<div class="container">
    <div class="row">
        <div class="col-3">total views:</div>
        <div class="col-3">
            <span id="totalViewsCount"></span>
        </div>
    </div>
</div>

@*@section Scripts{
    <script src="~/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/usercount.js"></script>
}*@